/*
  Created by: Reed Turner & Michael Pacheco
  Created on: 4/2/24
  Updated on: 4/27/24
  Project: Term Project - Roma's Pizza & Italian Restaurant
  Description: This is the stylesheet for the entire website redesign
*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*CSS Variables*/
:root {
	/* Grid */
	--number-of-columns: 6;
	--grid-width: calc(100% / var(--number-of-columns));
	--col-1: calc(var(--grid-width) * 1);
	--col-2: calc(var(--grid-width) * 2);
	--col-3: calc(var(--grid-width) * 3);
	--col-4: calc(var(--grid-width) * 4);
	--col-5: calc(var(--grid-width) * 5);
	--col-6: calc(var(--grid-width) * 6);

	/* Colors */
	--primary: hsl(150, 100%, 27%);
	--primary-hover: hsl(150, 100%, 17%);
	--secondary: hsl(357, 84%, 44%);
	--secondary-hover: hsl(357, 84%, 34%);

	--font-color: hsl(0, 0%, 94%);
	--bg-color: hsl(24, 14%, 14%);
	--bg-color2: hsl(0, 3%, 11%);

	--gray-0: #222222;
	--gray-1: #666666;
	--gray-2: #999999;
	--gray-3: #dadada;
	--gray-4: #efefef;

	/*Typography/Other*/
	--table-padding: 1.618rem;
	--p: 1.25rem;
	--base-font-size: 16px;
	--base-scale: 1.618;
	--base-line-height: calc(1em * var(--base-scale));
	--h4-font-size: 1rem;
	--h3-font-size: calc(1rem * var(--base-scale));
	--h2-font-size: calc(1rem * var(--base-scale) * var(--base-scale));
	--h1-font-size: calc(1rem * var(--base-scale) * var(--base-scale) * var(--base-scale));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

html {
	font-size: var(--base-font-size);
}

body {
	font-family: Open Sans, sans-serif;
	font-size: 1rem;
	line-height: var(--base-line-height);
	font-weight: 400;
	color: var(--font-color);
	background-color: var(--bg-color);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Josefin Sans, sans-serif;
	font-weight: 700;
	line-height: var(--base-line-height);
	margin-bottom: 1rem;
	color: var(--font-color);
}

p {
	margin-bottom: var(--base-line-height);
	font-size: var(--p);
	line-height: var(--base-line-height);
}

.text-center {
	text-align: center;
	h3 {
		margin-bottom: 0;
	}
}

.text-right {
	text-align: right;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

h1,
.h1 {
	font-size: var(--h1-font-size);
}

h2,
.h2 {
	font-size: var(--h2-font-size);
}

h3,
.h3 {
	font-size: var(--h3-font-size);
}

h4,
.h4 {
	font-size: var(--h4-font-size);
}

/* Image/Article Styles */

img {
	max-width: 100%;
}

.menu-img {
	overflow: hidden;
	aspect-ratio: 16 / 9;
}

.article {
	padding: var(--base-line-height) 0;
	margin: 0;
}

.description h3,
.description p {
	margin-bottom: 0;
}

/* End of Image/Article Styles */

.header-container {
	width: 100%;
	margin: 0 auto;
	max-width: 5000px;
	padding: 0px 0;
}

/* Button Styles */
.btn {
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	min-width: fit-content;
	line-height: var(--base-line-height);
	padding: 2% var(--base-line-height);
	text-decoration: none;
	cursor: pointer;
	background-color: var(--gray-0);
	color: var(--white);
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btn2 {
	margin-left: 0.6rem;
	margin-top: 0.5rem;
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 700;
	min-width: fit-content;
	line-height: calc(var(--base-line-height) / 5);
	padding: 0 1rem;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--gray-0);
	color: var(--white);
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.no-list {
	margin-left: 0;
}

.btn2:hover,
.btn2:focus,
.btn2:active {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn:hover,
.btn:focus,
.btn:active {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn:hover {
	background-color: var(--gray-1);
}

.btn2:hover {
	background-color: var(--gray-1);
}

.btn.btn-primary {
	background-color: var(--primary);
	color: var(--font-color);
}

.btn.btn-primary:hover {
	background-color: var(--primary-hover);
	color: var(--font-color);
}

.btn2 h3 {
	color: var(--body-white);
}

.btn2:hover > h3 {
	color: var(--font-color);
}

.btn2.btn-primary2 {
	background-color: var(--primary);
}

.btn2.btn-primary2:hover {
	background-color: var(--primary-hover);
}

.btn.btn-secondary {
	background-color: var(--secondary);
	color: var(--white);
}

.btn.btn-secondary:hover {
	background-color: var(--secondary-hover);
	color: var(--white);
}

.btn.btn-tertiary {
	background-color: var(--tertiary);
	color: var(--font-color);
}

.btn.btn-tertiary:hover {
	background-color: var(--tertiary-hover);
	color: var(--font-color);
}

.btn.btn-sm {
	font-size: calc(1rem / var(--base-scale));
}

.btn.btn-lg {
	font-size: var(--h3-font-size);
}

/* *Navigation Styles */
.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
}

.navbar-brand {
	display: block;
	overflow: hidden;
	background: url(images/logo.png) no-repeat left/contain transparent;
	width: 10rem;
	height: 4rem;
	text-indent: -9999px;
	text-decoration: none;
}

.navbar-toggler {
	background-color: var(--primary);
	border: 0 none;
	color: white;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 5px;
}

.navigation {
	flex: 0 0 100%;
}

.navigation.collapse .navbar-nav {
	display: none;
}

.navbar-nav {
	list-style-type: none;
	padding: 0;
}

.navbar-nav li > a {
	color: var(--font-color);
	font-weight: 700;
	display: block;
	text-align: center;
	overflow: hidden;
	padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
	margin: 0 0.25rem;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.4s;
}

.navbar-nav li.active > a {
	border-bottom: 1px solid transparent; /* Set a base transparent border */
	position: relative; /* Make the element relative for pseudo-element positioning */
}

.navbar-nav li.active > a::after {
	content: "";
	position: absolute;
	bottom: 0; /* Position at the bottom */
	left: 10%; /* Align to the left edge */
	width: 80%; /* Set width to 80% */
	height: 3px; /* Set border thickness (adjust as needed) */
	background-color: var(--primary); /* Set border color */
}

.navbar-nav li > a:hover {
	background-color: var(--primary);
	color: var(--white);
}

.order {
	background-color: var(--secondary);
}

.dropdown-toggle::after {
	content: "\f0d8";
	font-family: "FontAwesome";
	font-weight: 400;
	margin-left: var(--base-line-height);
}

.collapse > .dropdown-toggle::after {
	content: "\f0d7";
}

.dropdown.collapse .dropdown-menu {
	display: none;
}

.dropdown-menu {
	background-color: var(--secondary);
	font-weight: 700;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	text-align: center;
	z-index: 1;
	border-radius: 5px;
}

.dropdown-menu > a {
	flex: 1 0 100%;
	color: var(--white);
	padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
	text-decoration: none;
}

.dropdown-menu > a:hover {
	background-color: var(--secondary-hover);
	color: var(--white);
	border-radius: 5px;
	scale: 1.05;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* *End of Navigation Styles */

/* Footer Styles */
.footer {
	background-color: var(--bg-color2);
	padding: 20px;
	color: var(--font-color);
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footer-column {
	flex: 1;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

.footer-column:not(:last-child) {
	border-right: 3px solid #008c45;
}

.footer-column:last-child .social-icons {
	margin-top: 10px;
}

.footer-button {
	background-color: #cd121a;
	color: var(--font-color);
	border: none;
	padding: 8px 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
	font-weight: bold;
	font-size: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-column:last-child {
	margin-right: 0;
}

.footer h3 {
	font-weight: bold;
}

.footer p {
	margin: 5px 0;
}

.footer ul {
	list-style: none;
	padding: 0;
}

.footer ul li {
	margin-bottom: 5px;
}

.footer a {
	color: var(--font-color);
	text-decoration: none;
}

.footer ul li a {
	color: var(--font-color);
	text-decoration: none;
	position: relative;
	transition: color 0.4s;
}

/* .footer ul li a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--font-color);
	transition: width 0.4s;
	transform: scaleX(0);
} */

.footer ul li a:hover {
	color: #008c45;
}

.footer ul li a:hover::before {
	transform: scaleX(1);
}

.social-icons a {
	color: var(--font-color);
	text-decoration: none;
	margin-right: 10px;
	transition: color 0.4s;
}

.social-icons a:hover {
	color: #008c45;
}

/* Footer Styles */
footer {
	margin-top: var(--base-line-height);
	font-size: calc(1rem / var(--base-scale));
}

footer .no-pattern {
	background-color: var(--footer-white);
}

footer .footer-nav {
	margin: 0;
	padding-top: calc(var(--base-line-height) / 3);
}

footer .footer-nav a {
	display: block;
	overflow: hidden;
	max-width: fit-content;
	padding: calc((1em / var(--base-scale)) / var(--base-scale) / var(--base-scale)) 0;
	color: var(--font-color);
	text-decoration: none;
	border-bottom: 2px solid transparent;
	font-weight: 700;
}

footer .footer-nav a:hover {
	color: var(--tertiary);
	border-bottom-color: var(--tertiary-hover);
	scale: 1.1;
}

footer .form-group label {
	margin-top: 0;
}

footer .copyright {
	padding: calc(var(--base-line-height) / 3);
	font-weight: 700;
	font-size: var(--base-font-size);
}

footer .social-media li {
	padding: 0 0.5rem;
}
footer .social-media li:hover {
	scale: 1.5;
	color: var(--tertiary);
}

.copyright-text {
	font-size: calc(var(--base-font-size) / 1.2);
}

footer .copyright-text {
	text-align: center;
}

footer .social-media {
	justify-content: center;
	gap: 1rem;
}

footer p,
footer .social-media {
	margin: 0;
	max-width: 100%;
	width: 100%;
}

footer .social-media a {
	display: block;
	overflow: hidden;
	color: var(--primary);
}

footer h3 {
	margin-bottom: 0.75rem;
}
/* End of Footer Styles */

/* Pseudo Selectors */
.form-control:focus {
	outline: var(--primary-hover) solid 2px;
}

.form-check-input:checked {
	box-shadow: 0 0 4px 4px var(--primary-hover);
}

.form-control:disabled,
.form-control:hover:disabled,
input:disabled,
input:hover:disabled {
	background-color: var(--gray-3);
	color: var(--gray-2);
	cursor: not-allowed;
}

input:invalid,
input:focus:invalid {
	border-color: var(--secondary);
	box-shadow: 0 0 2px var(--secondary-hover);
}
/* End of Footer Styles */

/* First Section Styles */
.fstsect {
	display: flex;
	margin-bottom: 50px;
	padding: 30px 0;
	justify-content: center;
}

.fstsect__text-container {
	width: 60%;
	padding: 10px;
}

.fstsect__image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	padding-left: 10px;
}

.fstsect__image-container img {
	width: 100%;
	/* Adjust as needed */
	/* Adjust as needed */
	height: auto;
	margin-bottom: 20px;
}

.button {
	background-color: #008c45;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-decoration: none;
	font-weight: bold;
}

.button:hover {
	background-color: #006633;
}

.fstsect__text-container p {
	position: relative;
	padding-top: 10px;
	line-height: var(--base-line-height);
}

.fstsect__text-container p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--secondary);
}

/* Testimonials */
.testimonial-carousel {
	text-align: center;
}

.carousel {
	position: relative;
	overflow: hidden;
}

.carousel-slides {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
	width: 100%;
	height: auto;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.testimonial-section h2 {
	padding-left: 0px;
}

/* Second Section */
.second-section {
	text-align: center;
}

.second-section__icons {
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.second-section__icons a i {
	margin: 0 15px;
	font-size: 2em;
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.second-section__icons a i:hover {
	color: var(--primary);
}

.vip-heading {
	color: #cd121a;
}

h2.flag-border {
	padding: 2rem;
}

.social-offers-heading {
	color: #008c45;
}

.half-line {
	width: 50%;
	height: 4px;
	/* Adjust as needed */
	/* Adjust color as needed */
	margin: 0 auto;
	/* Center the div */
}

/* Carousel Styles */
.carousel-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-slide {
	display: none;
	width: 100%;
}

.carousel-slide img {
	width: 100%;
	height: auto;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	color: var(--font-color);
	font-size: 2em;
	cursor: pointer;
	z-index: 2;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

/* Order Styles */
.order-header {
	text-align: center;
	letter-spacing: 1rem;
	background-image: url(images/flag.jpg);

	background-color: hsla(24, 14%, 14%, 0.6);
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-size: cover;

	.order-header-txt {
		h1,
		h2 {
			text-transform: capitalize;
		}
	}
}

.order-image {
	min-height: 23vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.7);
}

.order-image-txt {
	margin: 0;
	padding: 0.5rem;
	border-top-right-radius: 0.925rem;
	border-top-left-radius: 0.925rem;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.9) 10%,
		rgba(0, 0, 0, 0.8) 20%,
		rgba(0, 0, 0, 0.7) 40%,
		rgba(0, 0, 0, 0) 100%
	);
	p {
		margin-top: 0.2rem;
	}
}

.add-to-cart {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0.5rem 0;
	p {
		margin-bottom: 0;
	}
}

.number-wrapper {
	color: var(--bg-color);
	height: auto;
	min-width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--font-color);
	border-radius: 10px;

	span {
		width: 100%;
		text-align: center;
		font-size: 22px;
		cursor: pointer;
		font-weight: bold;
	}

	span.num {
		font-size: 18px;
		border-right: 2px solid rgba(0, 0, 0, 0.2);
		border-left: 2px solid rgba(0, 0, 0, 0.2);
		pointer-events: none;
		font-weight: bold;
	}

	span.plus:hover {
		color: var(--primary);
	}

	span.minus:hover {
		color: var(--secondary);
	}
}

.quantity {
	outline: none;
	font-size: 16px;
	font-weight: bold;
	padding: 0.25rem;
	text-align: center;
	width: auto;
}

.cart-button {
	padding: 0.75rem 1.25rem;
	margin-left: 0;
	background-color: var(--primary);
	color: var(--font-color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
	font-weight: bold;
	font-size: inherit;
	transition: all 0.3s;
}

.cart-button:hover {
	background-color: var(--primary-hover);
	scale: 1.05;
}

#load-more {
	padding: 0.5rem 1rem;
	background-color: var(--secondary);
	color: var(--font-color);
	border: none;
	border-radius: 10px;
	transition: background-color 0.4s, color 0.4s;
	font-weight: bold;
	font-size: inherit;
	transition: all 0.3s;
	margin-top: 20px;
	padding: 13px 30px;
	cursor: pointer;
	margin: 1rem auto;
	width: fit-content;
}

#load-more:hover {
	background-color: var(--secondary-hover);
}

/* Menu Styles */
.flag-border {
	border-image: url(images/flag.png);
	border-image-slice: 0 0 1 0;
	border-image-width: 7px;
	text-align: center;
}

.menu-banner {
	min-height: 65vh;
	background-image: url(images/menu.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	letter-spacing: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	margin-bottom: 0.75rem;
	text-align: center;

	h1,
	h2 {
		text-transform: capitalize;
	}
}

.anchor {
	display: block;
	padding-top: 45px;
	margin-top: -45px;
}

header {
	--_animationStartsAfter: 0px;
	--_animationDistance: 0px;
	--_surfaceColorStart: var(--bg-color2);
	--_surfaceColorEnd: hsl(0 0% 94% / 0.7);
	--_textColorStart: var(--font-color);
	--_textColorEnd: var(--bg-color);

	padding: 1rem 1.65rem;
	margin-inline: auto;
	margin-block: 0rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: fit-content;

	color: var(--_textColorStart);
	background-color: var(--_surfaceColorStart);

	position: sticky;
	z-index: 1000;
	top: 0rem;

	border-radius: 100vw;
	backdrop-filter: blur(0.35rem);

	animation: stickyNav linear forwards;
	animation-timeline: view();
	animation-range-start: calc(100vh + var(--_animationStartsAfter));
	animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));

	ul {
		display: flex;
		gap: 2rem;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
		font-weight: 500;

		&:hover,
		&:focus {
			color: var(--secondary);
			text-decoration: underline;
			text-decoration-thickness: 0.07lh;
			text-underline-offset: 0.17lh;
		}
	}
}

@keyframes stickyNav {
	100% {
		top: 0.5rem;
		color: var(--_textColorEnd);
		background-color: var(--_surfaceColorEnd);
		box-shadow: inset 0 0 0.5rem hsl(0 0% 100% / 0.1), 0 0 0.75rem hsl(0 0% 0% / 0.3);
	}
}
/* Contact Styles */
.contact-banner {
	background-image: url(images/orange-arrow.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 65vh;
	letter-spacing: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	margin-bottom: 1rem;
}

.links {
	color: var(--font-color);
	overflow: hidden;
	padding: 0.5rem 0 0.5rem 0.5rem;
	text-decoration: none;
	font-weight: 700;
	transition: color 0.4s;
}

.links:hover {
	color: #008c45;
}

.links:hover:after {
	content: "";
	background: #cd121a;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 2px;
}

ul.inline {
	padding: 1rem 1rem 1rem 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

ul.unstyled {
	list-style-type: none;
	padding-left: 0;
}

li a i {
	color: var(--font-color);
	text-decoration: none;
	margin-right: 10px;
	transition: color 0.4s;
}

li a i:hover {
	color: #008c45;
}

.googlemap {
	max-width: 100%;
	border-radius: 10px;
}

.form-wrapper {
	margin: 0 0 15px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.form-line {
	justify-content: flex-start;
	align-items: center;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	display: flex;
}

.form-text {
	white-space: nowrap;
	margin-right: 0.4em;
}

.form-line > h3 {
	letter-spacing: -0.03em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.1;
}

.form-field {
	font-family: Josefin Sans, sans-serif;
	color: var(--font-color);
	width: 100%;
	height: 1.8em;
	min-height: 1.8em;
	min-width: 0;
	background-color: var(--bg-color);
	border: 0 solid var(--bg-color);
	border-bottom: 0.06em solid #cd121a;
	border-radius: 0;
	margin-bottom: -0.2rem;
	padding: 0;
	font-size: 2em;
	font-weight: 400;
	line-height: 2;
}

.form-field.message {
	width: 100%;
	height: 1.8em;
	max-width: 100%;
	min-width: 100%;
	display: block;
	position: relative;
	overflow: visible;
}

.form-line input,
.form-line textarea {
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form-line input:valid,
.form-line textarea:valid,
.form-line input:focus,
.form-line textarea:focus {
	outline: none;
	transform: translateX(10px);
	border-bottom: 0.06em solid var(--primary);
}

.form-field::placeholder {
	color: #cd121a;
	opacity: 1;
}

.form-submit {
	color: var(--font-color);
	background-color: var(--bg-color);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: 0.9em;
	margin-top: 0.2em;
	padding: 0 1.2em 0.2em 0;
	font-family: Josefin Sans, sans-serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	text-decoration: none;
	display: inline-block;
}

.form-submit:hover {
	color: #008c45;
	transition: 0.5s;
}

.hours {
	list-style: none;
	padding: 10px 0;
}

::selection {
	background: #cd121a;
	color: var(--bg-color);
}

/* About Us Styles */
.about-banner {
	position: relative;
	background-image: url(images/aboutban.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 65vh;
	letter-spacing: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
}

.about-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	filter: blur(10px);
}

.about-banner h1 {
	position: relative;
	z-index: 1;
}

.aboutoptions {
	width: 100%;
}

.food-banner {
	width: 100%;
	display: block;
}

.about {
	display: flex;
	margin-bottom: 20px;
	padding: 30px 60px;
	justify-content: center;
}

.about-text-container {
	width: 40%;
	padding: 10px;
}

.about-image-container {
	width: 40%;
	padding-left: 20px;
}

.about-image-container img {
	width: 80%;
	height: auto;
	margin-bottom: 20px;
	border: 4px solid #008c45;
	border-radius: 10%;
}

.about-text-container p {
	border-top: 2px solid #cd121a;
	padding-top: 10px;
	line-height: 1.35rem;
}

.about-facts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fact-item {
	flex: 0 1 calc(25% - 10px);
	margin-bottom: 20px;
}

.fact-item img {
	width: 100%;
}

/* Promotion Styles */
.promo-banner {
	position: relative;
	background-image: url(images/promoban.jpg);
	letter-spacing: 1rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 65vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
}

.promo-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	filter: blur(10px);
}

.promo-banner h1 {
	position: relative;
	z-index: 1;
}

.promofirst {
	display: flex;
	justify-content: center;
	padding: 40px 40px;
}

.promofirst__text {
	flex: 30%;
	padding-right: 20px;
}

.promofirst__text h2 {
	margin-bottom: 10px;
}

.promofirst__text p {
	position: relative;
	padding-top: 10px;
	line-height: 1.35rem;
}

.promofirst__text p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #cd121a;
}

.promofirst__image {
	flex: 70%;
}

.promofirst__image img {
	width: 100%;
	height: auto;
}

.promosecond {
	text-align: center;
}

.promosecond__image {
	display: inline-block;
	margin: 0 10px;
}

.promosecond__image img {
	max-width: 100%;
}

/* Grid System */
.container-fluid,
.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.25rem;
}

.container-fluid {
	padding: 0;
}

.container.nav-container {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
@media screen and (min-width: 576px) {
	.container {
		max-width: 576px;
	}
} /* sm */
@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
} /* md */
@media screen and (min-width: 992px) {
	.container {
		max-width: 992px;
	}
} /* lg */
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
} /* xl */

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: -1rem;
	margin-right: -1rem;
	&.contact {
		margin-top: 2rem;
	}
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6 {
	padding: 0 1rem;
	width: 100%;
	max-width: 100%;
}

.col-xs-1 {
	flex: 0 0 var(--col-1);
	max-width: var(--col-1);
	background-color: var(--blue-1);
}

.col-xs-2 {
	flex: 0 0 var(--col-2);
	max-width: var(--col-2);
	background-color: var(--blue-2);
}

.col-xs-3 {
	flex: 0 0 var(--col-3);
	max-width: var(--col-3);
	background-color: var(--blue-3);
}

.col-xs-4 {
	flex: 0 0 var(--col-4);
	max-width: var(--col-4);
	background-color: var(--blue-4);
}

.col-xs-5 {
	flex: 0 0 var(--col-5);
	max-width: var(--col-5);
	background-color: var(--blue-5);
}

.col-xs-6 {
	flex: 0 0 var(--col-6);
	max-width: var(--col-6);
	background-color: var(--blue-6);
}

/* Styles for 'col-sm-...' grid */
@media screen and (min-width: 576px) {
	.col-sm-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
		background-color: var(--blue-1);
	}

	.col-sm-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
		background-color: var(--blue-2);
	}

	.col-sm-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
		background-color: var(--blue-3);
	}

	.col-sm-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
		background-color: var(--blue-4);
	}

	.col-sm-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
		background-color: var(--blue-5);
	}

	.col-sm-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
		background-color: var(--blue-6);
	}
}

/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px) {
	.navbar-toggler {
		display: none;
	}

	.navigation {
		flex: 0 0 auto;
	}

	.navigation.collapse .navbar-nav,
	.navbar-nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: baseline;
		align-content: center;
	}

	.dropdown-menu {
		position: absolute;
	}

	.col-md-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
		background-color: var(--blue-1);
	}

	.col-md-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
		background-color: var(--blue-2);
	}

	.col-md-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
		background-color: var(--blue-3);
	}

	.col-md-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
		background-color: var(--blue-4);
	}

	.col-md-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
		background-color: var(--blue-5);
	}

	.col-md-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
		background-color: var(--blue-6);
	}
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px) {
	.col-lg-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
		background-color: var(--blue-1);
	}

	.col-lg-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
		background-color: var(--blue-2);
	}

	.col-lg-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
		background-color: var(--blue-3);
	}

	.col-lg-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
		background-color: var(--blue-4);
	}

	.col-lg-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
		background-color: var(--blue-5);
	}

	.col-lg-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
		background-color: var(--blue-6);
	}
}

/* Styles for 'col-xl-...' grid */
@media screen and (min-width: 1200px) {
	.col-xl-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
		background-color: var(--blue-1);
	}

	.col-xl-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
		background-color: var(--blue-2);
	}

	.col-xl-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
		background-color: var(--blue-3);
	}

	.col-xl-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
		background-color: var(--blue-4);
	}

	.col-xl-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
		background-color: var(--blue-5);
	}

	.col-xl-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
		background-color: var(--blue-6);
	}
}

/* End of Grid System */

/* Media query for phones (max-width: 768px) */
@media only screen and (max-width: 768px) {
	.flex.wrapper {
		justify-content: flex-start;
		gap: 0rem;
	}

	/* Footer */
	.footer {
		display: flex;
		flex-direction: column;
	}

	.footer-column {
		margin-bottom: 20px;
	}

	.footer-column:not(:last-child) {
		border-right: none;
		border-bottom: 3px solid #008c45;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.fstsect {
		flex-direction: column;
		align-items: center;
	}

	.fstsect__text-container,
	.fstsect__image-container {
		width: 100%;
	}

	.fstsect__text-container {
		padding: 0px;
	}

	.fstsect__image-container img {
		width: 100%;
		margin-bottom: 20px;
	}

	.fstsect {
		align-items: center;
	}

	.fstsect__text-container,
	.fstsect__image-container {
		width: 90%;
		padding: 10px;
	}

	.fstsect__image-container img {
		width: 100%;
	}

	.second-fstsect {
		flex-direction: column-reverse;
	}

	.about {
		flex-direction: column;
	}

	.about-text-container {
		width: 100%;
		padding: 10px;
	}

	.about-image-container {
		width: 100%;
	}

	.about-facts {
		flex-direction: column;
		align-items: center;
	}

	.fact-item {
		width: 90%;
		margin-bottom: 10px;
	}

	.promofirst {
		flex-direction: column;
		align-items: center;
	}

	.promofirst__text,
	.promofirst__image {
		flex: none;
		width: 100%;
		padding-right: 0;
		text-align: center;
	}

	.promosecond__image {
		display: block;
		margin: 20px auto;
		max-width: 80%;
	}
}

@media screen and (max-width: 992px) {
	header {
		width: 100%;
	}

	header nav ul {
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
}

@media screen and (max-width: 1200px) {
}
